@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext');

*{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
img{
    cursor: pointer;
}
body, html{
    background-image: url('../img/background/background4.jpg');;
}
.modal, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0 ;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.player-div{
    top: 12.5% !important;
    left: 12.5% !important;
    position: absolute;
}
.exit-icon{
    color: white;
    font-size: 2em;
    cursor: pointer;
}
@media only screen and (max-width: 650px){
    .exit-icon{
        color: white;
        font-size: 1em;
        cursor: pointer;
        position: absolute;
        top: 5%;
        left: 90%;
    }
}
hr{
    border: 4px dotted white;
}
.footer{
    background-color: rgb(32, 30, 28);
}
.bg-icon{
    font-size: 2em;
    cursor: pointer;
    margin: 30px;
}
.project-button{
    width: 110px;
    background: none;
    border: 2px solid white;
}
@media only screen and (max-width: 560px){
    .bg-icon{
        font-size: 2em;
        cursor: pointer;
        margin: 15px;
    }
}
@media only screen and (max-width: 420px){
    .bg-icon{
        font-size: 2em;
        cursor: pointer;
        margin: 5px;
    }
}
@media only screen and (max-width: 330px){
    .bg-icon{
        font-size: 2em;
        cursor: pointer;
        margin: 2px;
    }
}
.semi-transparent-section{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: -11%;
    transition: 2s;
    z-index: 1000;
    background-attachment: fixed;
}
.dark-section{
    background-color: rgb(38, 109, 224);
}
.semi-transparent-section:hover{
    top: 0;
}
.semi-transparent-section *{
    color: white;
}
.no-space{
    margin: 0 !important;
    padding: 0 !important;
}
.hidden-div{
    position: absolute;
    z-index: 1000;
    opacity: 1;
    background-color: green;
}
